<article class="post clearfix">
	<a href="#" class="thumb pull-left">
		<img class="img-thumbnail" src="img/img1.jpg" alt="almuerzo">
	</a>
	<h2 class="post-tittle">
		<a href="#">{{$ctrl.title}}</a>
	</h2>				
	<p><span class="post-fecha"><br>26 de marzo del 2017</span> por <span class="post-autor"><a href="#">Carlos ñe</a></span></p>
	<p class="post-contenido text-justify">
		Cazuela es un plato típico en España, Portugal, Francia, Italia y en la mayoría de los países iberoamericanos. Recibe ese nombre por el tipo de recipiente en el que está cocinado, que suele ser una vasija de la familia de las ollas, de cuerpo bajo y vidriado en su interior.	
	</p>
	<div class="contenedor-botones">
		<a href="#" class="btn btn-primary">Leer mas</a>
		<a href="#" class="btn btn-success">Comentarios <span class="badge">10</span></a>
	</div>
</article>