<div class='row'>
	<div class='col-xs-offset-2 col-xs-8'>
		<form action="http://localhost/fudapp/php/newRecetas.php" method="POST">
			<label for="nombre"><strong>Nombre:</strong></label>
			<input type="text" name="nombre" class="form-control"><br>

			<label for="descripcion"><strong>Descripcion:</strong></label>
			<textarea class="form-control" name="descripcion"></textarea><br>

			<input type="submit" value="Crear Receta" class="btn btn-primary form-control">
		</form>
	</div>
</div>